.bg-body-tertiary {
    background: rgb(216,127,232);
background: linear-gradient(0deg, rgba(216,127,232,1) 0%, rgba(151,236,244,0.6890951276102089) 100%);
}

.card-body {
    background: rgb(216,127,232);
background: linear-gradient(0deg, rgba(216,127,232,1) 0%, rgba(151,236,244,0.6890951276102089) 100%);
}

.btn-btn-primary {
   
}